<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Update Note</title>
</head>
<body>
    <h1>Update Note</h1>
    <form action="/updateNote/<%= id %>" method="POST">
        <fieldset>
          <div>
            <label for="title" class="form-label mt-4">Section</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" placeholder="<%= title %>" disabled>
          </div>
          <div>
            <label for="status" class="form-label mt-4">Status</label>
            <select class="form-select" id="status" name="status">
              <option>Pending</option>
              <option>In Progress</option>
              <option>Completed</option>
            </select>
          </div>
        </fieldset>
        <br>
        <fieldset>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/notes" class="btn btn-secondary">Cancel</a>
            </div>
    </fieldset>
    </form>
</body>
</html>